In [1]:
import pandas as pd
# First DataFrame
final = pd.read_csv()
  
for i in range(1,3):
    target = pd.read_csv()
    frames = [final, target]
    
    final = pd.concat(frames)
    
final.shape

    id Name
0  A01  ABC
1  A02  PQR
2  A03  DEF
3  A04  GHI
0  B05  XYZ
1  B06  TUV
2  B07  MNO
3  B08  JKL