In [2]:
import import_ipynb

In [79]:
%run requirements.ipynb
%run config.ipynb
%run module_preprocess.ipynb
# %run module_feature_extraction.ipynb
%run module_training.ipynb

In [89]:
four_time = pd.read_csv("CSV/four_time.csv")
v_value = pd.read_csv("CSV/v_value.csv")
mic = pd.read_csv("CSV/mic.csv")
dwt_distance_48 = pd.read_csv("CSV/tsc_dtw_sdtw_10_48.csv", names=['meter_dtw_48', 'meter_sdtw_48'], header=0)
dwt_distance_530 = pd.read_csv("CSV/tsc_dtw_sdtw_10_530_48.csv", names=['meter_dtw_530', 'meter_sdtw_530'], header=0)
# smart_meter = pd.read_csv("CSV/smart_meter.csv")
# fdi = pd.read_csv("CSV/FDI.csv")
print(four_time.shape, v_value.shape, mic.shape, dwt_distance_48.shape, dwt_distance_530.shape)

(2239250, 7) (2239250, 9) (2239250, 4) (2239250, 2) (2239250, 2)

In [70]:
dwt_distance_48.columns, dwt_distance_530.columns

(Index(['meter_dtw_48', 'meter_sdtw_48'], dtype='object'),
 Index(['meter_dtw_530', 'meter_sdtw_530'], dtype='object'))

In [73]:
dwt_distance_48.head(), dwt_distance_48.dtypes

(   meter_dtw_48  meter_sdtw_48
 0      2.524154     -68.984877
 1      1.896432     -71.081359
 2      1.963119     -71.260790
 3      2.880804     -64.383998
 4      2.117505     -69.355208,
 meter_dtw_48     float64
 meter_sdtw_48    float64
 dtype: object)

## prepare data

In [74]:
training_data = concat_two_df_and_drop_same_column_in_df2(four_time, v_value)
training_data = concat_two_df_and_drop_same_column_in_df2(training_data, mic)
training_data = concat_two_df_and_drop_same_column_in_df2(training_data, dwt_distance_48)
training_data = concat_two_df_and_drop_same_column_in_df2(training_data, dwt_distance_530)

   MeterID         Day   FDI  overnight  breakfast   daytime   evening
0     1236  2009-07-15  True    0.12852     0.0678  0.120048  0.119347

   MeterID         Day   FDI  Tmax1  Tmax2  Tmin1     Cmax1     Cmax2     Cmin1
0     1236  2009-07-15  True     12     30     15  0.205161  0.209875  0.059876

   MeterID         Day   FDI  overnight  breakfast   daytime   evening  Tmax1  Tmax2  Tmin1     Cmax1     Cmax2     Cmin1
0     1236  2009-07-15  True    0.12852     0.0678  0.120048  0.119347     12     30     15  0.205161  0.209875  0.059876

   MeterID         Day   FDI  overnight  breakfast   daytime   evening  Tmax1  Tmax2  Tmin1     Cmax1     Cmax2     Cmin1
0     1236  2009-07-15  True    0.12852     0.0678  0.120048  0.119347     12     30     15  0.205161  0.209875  0.059876

   MeterID         Day   FDI       mic
0     1236  2009-07-15  True  0.624128

   MeterID         Day   FDI  overnight  breakfast   daytime   evening  Tmax1  Tmax2  Tmin1     Cmax1     Cmax2     Cmin1       mic
0     1236  2009-07-15  True    0.12852     0.0678  0.120048  0.119347     12     30     15  0.205161  0.209875  0.059876  0.624128

   MeterID         Day   FDI  overnight  breakfast   daytime   evening  Tmax1  Tmax2  Tmin1     Cmax1     Cmax2     Cmin1       mic
0     1236  2009-07-15  True    0.12852     0.0678  0.120048  0.119347     12     30     15  0.205161  0.209875  0.059876  0.624128

   meter_dtw_48  meter_sdtw_48
0      2.524154     -68.984877

   MeterID         Day   FDI  overnight  breakfast   daytime   evening  Tmax1  Tmax2  Tmin1     Cmax1     Cmax2     Cmin1       mic  meter_dtw_48  meter_sdtw_48
0     1236  2009-07-15  True    0.12852     0.0678  0.120048  0.119347     12     30     15  0.205161  0.209875  0.059876  0.624128      2.524154     -68.984877

   MeterID         Day   FDI  overnight  breakfast   daytime   evening  Tmax1  Tmax2  Tmin1     Cmax1     Cmax2     Cmin1       mic  meter_dtw_48  meter_sdtw_48
0     1236  2009-07-15  True    0.12852     0.0678  0.120048  0.119347     12     30     15  0.205161  0.209875  0.059876  0.624128      2.524154     -68.984877

   meter_dtw_530  meter_sdtw_530
0       3.991317      -50.432597

   MeterID         Day   FDI  overnight  breakfast   daytime   evening  Tmax1  Tmax2  Tmin1     Cmax1     Cmax2     Cmin1       mic  meter_dtw_48  meter_sdtw_48  meter_dtw_530  meter_sdtw_530
0     1236  2009-07-15  True    0.12852     0.0678  0.120048  0.119347     12     30     15  0.205161  0.209875  0.059876  0.624128      2.524154     -68.984877       3.991317      -50.432597

In [18]:
training_data.head(3)

   MeterID         Day   FDI  overnight  breakfast   daytime   evening  Tmax1  Tmax2  Tmin1     Cmax1     Cmax2     Cmin1       mic  meter_dtw  meter_sdtw
0     1236  2009-07-15  True   0.128520    0.06780  0.120048  0.119347     12     30     15  0.205161  0.209875  0.059876  0.624128   2.524154  -68.984877
1     1236  2009-07-16  True   0.084015    0.23875  0.201571  0.196692     20     34     24  0.656000  0.706000  0.012000  0.000000   1.896432  -71.081359
2     1236  2009-07-17  True   0.135647    0.17500  0.231000  0.408409     18     35     24  0.925000  1.387000  0.020000  0.000000   1.963119  -71.260790

## classifier

In [42]:
xgboost = XGBClassifier(scale_pos_weight=1, use_label_encoder=False, n_jobs=-1, verbosity=0)
adaboost = AdaBoostClassifier()
lineSVM = LinearSVC(max_iter=1000000, C=50) # kernel = rbf
randforest = RandomForestClassifier(n_jobs=-1)
complementNB = ComplementNB()
DT = DecisionTreeClassifier()
kNN = KNeighborsClassifier(n_jobs=-1)

## sample training

In [75]:
x_col = ['overnight', 'breakfast', 'daytime', 'evening', 'Tmax1', 'Tmax2', 'Tmin1', 'Cmax1', 'Cmax2', 'Cmin1', 'mic', 'meter_dtw_48', 'meter_sdtw_48', 'meter_dtw_530', 'meter_sdtw_530']
y_col = ['FDI']
training_sample = training_data.iloc[:422*3*530]

#### xgboos whole

In [80]:
model, score = train_single_model(xgboost, training_data, x_col, y_col, split_num = 1, return_model=True)

 Time taken: 0 hours 2 minutes and 10.26 seconds.
average_precision_score: 0.9576343717904827
average_recall_score: 0.25132524707996406
average_accuracy_score: 0.92438075650541
average_roc_auc_score: 0.6250481746819879
average_f1_score: 0.39815671482456766

#### xgboost no 48

In [81]:
x_col = ['overnight', 'breakfast', 'daytime', 'evening', 'Tmax1', 'Tmax2', 'Tmin1', 'Cmax1', 'Cmax2', 'Cmin1', 'mic', 'meter_dtw_530', 'meter_sdtw_530']
model, score = train_single_model(xgboost, training_data, x_col, y_col, split_num = 3, return_model=True)

 Time taken: 0 hours 1 minutes and 37.97 seconds.

 Time taken: 0 hours 1 minutes and 39.39 seconds.

 Time taken: 0 hours 1 minutes and 43.58 seconds.
average_precision_score: 0.95528232067998
average_recall_score: 0.2450658879904163
average_accuracy_score: 0.9237235088974337
average_roc_auc_score: 0.6218994617045759
average_f1_score: 0.3900421986186518

#### xgboost no 530

In [83]:
x_col = ['overnight', 'breakfast', 'daytime', 'evening', 'Tmax1', 'Tmax2', 'Tmin1', 'Cmax1', 'Cmax2', 'Cmin1', 'mic', 'meter_dtw_48', 'meter_sdtw_48']
model, score = train_single_model(xgboost, training_data, x_col, y_col, split_num = 3, return_model=True)

 Time taken: 0 hours 1 minutes and 42.7 seconds.

 Time taken: 0 hours 1 minutes and 42.07 seconds.

 Time taken: 0 hours 1 minutes and 44.55 seconds.
average_precision_score: 0.9561944793054696
average_recall_score: 0.24276729559748425
average_accuracy_score: 0.9235290172583386
average_roc_auc_score: 0.6207691989407481
average_f1_score: 0.3872219081312886

#### xgboost whole weight=10

In [84]:
x_col = ['overnight', 'breakfast', 'daytime', 'evening', 'Tmax1', 'Tmax2', 'Tmin1', 'Cmax1', 'Cmax2', 'Cmin1', 'mic', 'meter_dtw_48', 'meter_sdtw_48', 'meter_dtw_530', 'meter_sdtw_530']
xgboost = XGBClassifier(scale_pos_weight=10, use_label_encoder=False, n_jobs=-1, verbosity=0)
model, score = train_single_model(xgboost, training_data, x_col, y_col, split_num = 3, return_model=True)

 Time taken: 0 hours 1 minutes and 59.43 seconds.

 Time taken: 0 hours 1 minutes and 56.29 seconds.

 Time taken: 0 hours 2 minutes and 1.51 seconds.
average_precision_score: 0.19155439658425402
average_recall_score: 0.6483453129679545
average_accuracy_score: 0.692659244686876
average_roc_auc_score: 0.6729512066329345
average_f1_score: 0.2957307508124474

## XGBoost